The Prosperity Public License {{{version}}}

Copyright Notice: {{{name}}}

Source Notice: {{{source}}}

This license lets you use and share this software for free,
with a trial-length time limit on commercial use. Specifically:

If you follow the rules below, you may do everything with this
software that would otherwise infringe either my copyright in it,
any patent claim I can license that covers this software as of my
latest contribution, or both.

1. You may not use this software commercially, except under
   rule 2.

2. You may use this software commercially for a single
   trial period of {{{gracePeriod}}} consecutive calendar days.

3. Ensure everyone who gets a copy of this software from you,
   in source code or any other form, gets the text of this
   license and the copyright and source notices above.

4. Do not make any legal claim against anyone for infringing
   any patent claim they would infringe by using this software
   alone, accusing this software, with or without changes,
   alone or as part of a larger program.

Using commercially means doing anything requiring this license in
any manner primarily intended for or directed toward commercial
advantage or private monetary compensation, except developing
feedback, modifications, or extensions you contribute back to
those giving this license.

You are excused for unknowingly breaking rule 1 if you stop
doing anything requiring this license within 30 days of
learning you broke the rule.

**This software comes as is, without any warranty at all. As far
as the law allows, I will not be liable for any damages related
to this software or this license, for any kind of legal claim.**
